@font-face {
  font-family: "Computer Modern";
  src: url("/fonts/cmunrm.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern";
  src: url("/fonts/cmunbx.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern";
  src: url("/fonts/cmunti.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
